# Created by .ignore support plugin (hsz.mobi)

.DS_STORE

._*

.idea/
*.iml
*.ipr
*.iws

.vscode/

.project
.settings
.classpath
.factorypath
.settings/

target/
build/

*.class
*.swp
*.jar
*.war
*.log
*.zip
*.tar.gz
*.rar
